<style type="text/css">
body { background:#dddddd; color:black }
TABLE1 { background:#dddddd; color:white }
TD {background: #eeeeee;font-family: Arial, Helvetica, non-serif; font-size: 8pt; color: black}
TH {background: #eeeeee;font-family: Arial, Helvetica, non-serif; font-size: 8pt; color: black}
SELECT {font-family: Arial, Helvetica, non-serif; font-size: 8pt; color: black}
INPUT {font-family: Arial, Helvetica, non-serif; font-size: 8pt; color: black}
</style>
