<style type="text/css">
#header { background:white; color:black; font-size:10pt; font-family:Arial,Helvetica }
TABLE1 { background:white; color:white }
TD {background-color:#dddddd; font-family: Arial, Helvetica, non-serif; font-size: 8pt; color: black}
.TD2 {background-color:#dddddd; font-family: Arial, Helvetica, non-serif; font-size: 7pt; color: black}
TH {background-color:white; font-family: Arial, Helvetica, non-serif; font-size: 9pt; color: black}
SELECT {font-family: Arial, Helvetica, non-serif; font-size: 8pt; color: black}
INPUT {font-family: Arial, Helvetica, non-serif; font-size: 9pt; color: black}

</style>
