<style type="text/css">
body { background:white; color:black }
TABLE1 { background:white; color:white }
TD {background-color:#dddddd; font-family: Arial, Helvetica, non-serif; font-size: 8pt; color: black}
TH {background-color:white; font-family: Arial, Helvetica, non-serif; font-size: 9pt; color: black}
SELECT {font-family: Arial, Helvetica, non-serif; font-size: 8pt; color: black}
INPUT {font-family: Arial, Helvetica, non-serif; font-size: 9pt; color: black}

</style>
